@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter", sans-serif !important;
}

body {
  background-color: var(--background-color);
}

h1 {
  font-size: 63px;
  line-height: 76.24px;
}

a {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}



#navlinks a {
  transition: all.2s ease;
  margin: 0 33px;
}

#navlinks a:hover {
  transform: scale(1.05);
  color: var(--secondary-color);
}

:root {
    --primary-color: #000C4B;
    --secondary-color: #0EF0C3;
    --accent-color: #e74c3c;
    --background-color: #ECF0F1;
    --color-black: #0f0f0f;
    --color-white: #fff;
}


#mobile-menu {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  #mobile-menu.show {
    transform: translateY(0);
    opacity: 1;
  }

  #nav {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    background-color: var(--background-color);
  }
  
  .nav {
    background-color: var(--background-color);
  }

  #login {
    border: 1px solid var(--primary-color);
    color: var(--color-black);
    border-radius: 20.5px;
    width: 113px;
    height: 41px;
    transition: all .3s ease;
  
  }

  #login:hover {
    transform: scale(1.05);
    color: var(--color-black);
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
  }

  #signup {
    width: 113px;
    height: 41px;
    border-radius: 20.5px;
    color: var(--color-white);
    background-color: var(--primary-color);
    transition: all .2s ease;
  }

  #signup:hover {
    transform: scale(1.05);
    /* background-color: var(--color-white);
    color: var(--primary-color);
    border: 1px solid var(--primary-color) ;
  } */
  }

  #mobile-menu {
    background-color: var(--primary-color) !important;
  } 


  /* Hero section  */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .hero-section {
    padding: 50px 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero-text {
    max-width: 50%;
    margin-right: 20px;
  }
  

  #hero h1 {
    color: var(--primary-color);
    font-weight: 700;
  }

  #hero p {
    color: var(--color-black);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  
  #hero-btn {
    width: 328px;
    height: 72px;
    border-radius: 36px;
    background-color: var(--secondary-color);
    font-size: 30px;
    font-style: 400;
  }

  .hero-text h1, p, button {
    margin-bottom: 18px;
  }


  
  .cta-button:hover {
    background-color: #0891b2;
  }
  
  .hero-image {
    max-width: 50%;
    position: relative;
    text-align: center;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .hero-content {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-text, .hero-image {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .cta-button {
      margin: 0 auto;
    }
  }
  